* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', 'sans-serif';
}

:root {
    --text-base: #ebebeb;
    --text-emphasis: #38B6FF;
}

html {
    background: #150A2B;
    color: var(--text-base)
}

/* BOTAO DE WPP */
.botao-wpp {
    transition: .2s;
    padding: .5rem;
    width: 40vw;
    max-width: 500px;
    text-decoration: none;
    color: var(--text-base);
    font-size: 150%;
    font-weight: bold;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    border: none;
}

.botao-wpp span {
    display: block;
    text-align: center;
    width: 100%;
}

.botao-wpp svg {
    transition: .2s;
    fill: white;
    height: 100%;
    width: 100%;
    max-width: 40px;
}

.botao-wpp:hover {
    transform: scale(1.03);
    background: var(--text-base);
    color: #25D366;
}

.botao-wpp:hover svg {
    fill: #25D366;
}

/* HEADER  */
header {
    padding: 1rem 0;
}

header img {
    height: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

/* SECAO 01 */

#secao-01 {
    background: #21133D;
}

#secao-01 h2, #secao-01 h1 {
    text-transform: uppercase;
    text-align: center;
}

#secao-01 h2 {
    font-weight: 400;
    font-size: 300%;
    padding: 1rem 0 0;
}

#secao-01 h1 {
    font-size: 400%;
    padding: 0rem 0 1rem;
}

#secao-01 h2 span, #secao-01 h1 span, #secao-01 p span {
    color: var(--text-emphasis)
}

.linhas {
    max-width: 300px;
    position: absolute;
}

#secao-01 article {
    display: flex;
}