* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', 'sans-serif';
}

:root {
    --text-base: #ebebeb;
    --text-emphasis: #38B6FF;
    --black-purple: #150A2B;
    --gray-purple: #21133D;
    --whatsapp-color: #40C351
}

html {
    background: var(--black-purple);
    color: var(--text-base);
    overflow-x: hidden;
}

/* BOTAO DE WPP */
.botao-wpp {
    transition: .2s;
    padding: .5rem 1rem;
    width: 35vw;
    letter-spacing: 3px;
    color: var(--text-base);
    font-size: calc(100vw / 60);
    font-weight: bold;
    text-decoration: none;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    border: none;
}

.botao-wpp span {
    display: block;
    text-align: center;
    width: 100%;
}

.botao-wpp svg {
    transition: .2s;
    fill: white;
    height: 100%;
    width: 10%;
}

.botao-wpp:hover {
    transform: scale(1.03);
    background: var(--text-base);
    color: #25D366;
}

.botao-wpp:hover svg {
    fill: #25D366;
}

/* HEADER  */
header {
    padding: 1rem 0;
}

header img {
    height: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

/* SECAO 01 */

#secao-01 {
    background: var(--gray-purple);
}

#secao-01 h2, #secao-01 h1 {
    text-transform: uppercase;
    text-align: center;
}

#secao-01 h2 {
    font-weight: 200;
    font-size: calc(100vw / 25);
    padding: 3rem 0 1rem;
}

#secao-01 h1 {
    font-size: calc(100vw / 20);
    padding: 0rem 0 1rem;
}

h2 span, h1 span, p span {
    color: var(--text-emphasis)
}

.linhas {
    max-width: 300px;
    position: absolute;
}

#secao-01 article {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 0 2rem;
}

#secao-01 article div {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.conteudo-apresentacao-1 p{
    font-size: calc(100vw / 50);
    text-align: center;
    width: 70%;
    font-weight: bold;
    margin: 0 0 3rem
}

.advogada {
    width: calc(100vw * 0.35)
}

.sinuosa {
    position: absolute;
    /* width: 70%; */
    height: calc(100vw / 5)
}

.sinuosa-01 {
    bottom: 4%;
    left: -10%;
}

.sinuosa-02 {
    right: calc(100vw / 10000);
    top: -30%;
    height: calc(100vw / 3);
}

/* SECAO 02 */
.header-sec h1 {
    text-transform: uppercase;
    font-size: calc(100vw / 25);
    font-weight: 300;
    text-align: center;
}

h1.porem {
    margin: 2rem 0 0 0;
}

.header-sec span h1 {
    font-weight: bolder;
    margin-bottom: 2rem;
}

.motivos {
    display: flex;
    gap: 3rem;
    width: 95%;
    margin: 0 auto;
}

.motivo {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 50vh;
    font-size: 130%;
    text-align: center;
    background: var(--gray-purple);
    border-radius: 1rem;
    padding: 2rem;
    width: 33%;
}

.motivo svg {
    height: 100%;
    width: 25%;
    fill: white;
}

.motivo span {
    font-weight: 800;
    font-size: 150%;
}

.motivo-desc p{
    padding: 0 1rem
} 

.container-botao-wpp {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

/* SECAO 04 */
#secao-04 h2, #secao-05 .desc h2 {
    text-align: center;
    padding: 5vw 6rem 3vw;
    font-size: 180%;
}

/* SECAO 05 */
#secao-05{
    background: var(--gray-purple);
    padding: 2rem 0 3rem
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.projeto {
    text-align: center;
}

.projeto h2 {
    margin: 1rem 0;
}

/* SECAO 06 */
.conteudo-areas{
    display: flex;
}

.conteudo-conhec{
    display: flex;
}

.conteudo-loc{
    display: flex;
}

#secao-06 .conteudo-lp h1{
    text-align: center;
    font-size: 180%;
    margin: 3rem;
}

#secao-06 p{
    text-align: center;
    font-size: 130%;
    margin: 3rem;
}

#secao-06 img{
    width: calc(100vw * 0.35)
}

footer{
    background-color: var(--gray-purple);
    padding: 1rem;
    text-align: center;
}

.fixed-wpp{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    background-color: var(--whatsapp-color);
    color: white;
    padding: 1rem;
    border-radius: 50%;
}

.fixed-wpp a{
    color: inherit;
}
