* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'KoHo', 'sans-serif';
}

:root {
    --text-base: #ebebeb;
    --text-emphasis: #38B6FF;
}

html {
    background: #150A2B;
    color: var(--text-base);
    overflow-x: hidden;
}

/* BOTAO DE WPP */
.botao-wpp {
    transition: .2s;
    padding: .5rem;
    width: 35vw;
    letter-spacing: 3px;
    color: var(--text-base);
    font-size: calc(100vw / 60);
    font-weight: bold;
    background: #25D366;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.5rem;
    border: none;
}

.botao-wpp span {
    display: block;
    text-align: center;
    width: 100%;
}

.botao-wpp svg {
    transition: .2s;
    fill: white;
    height: 100%;
    width: 15%;
}

.botao-wpp:hover {
    transform: scale(1.03);
    background: var(--text-base);
    color: #25D366;
}

.botao-wpp:hover svg {
    fill: #25D366;
}

/* HEADER  */
header {
    padding: 1rem 0;
}

header img {
    height: 100%;
    max-height: 80px;
    display: block;
    margin: 0 auto;
}

/* SECAO 01 */

#secao-01 {
    background: #21133D;
}

#secao-01 h2, #secao-01 h1 {
    text-transform: uppercase;
    text-align: center;
}

#secao-01 h2 {
    font-weight: 200;
    font-size: calc(100vw / 25);
    padding: 3rem 0 1rem;
}

#secao-01 h1 {
    font-size: calc(100vw / 20);
    padding: 0rem 0 1rem;
}

h2 span, h1 span, p span {
    color: var(--text-emphasis)
}

.linhas {
    max-width: 300px;
    position: absolute;
}

#secao-01 article {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 0 2rem;
}

#secao-01 article div {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.conteudo-apresentacao-1 p{
    font-size: calc(100vw / 50);
    text-align: center;
    width: 70%;
    font-weight: bold;
    margin: 0 0 3rem
}

.advogada {
    width: calc(100vw * 0.35)
}

.sinuosa {
    position: absolute;
    /* width: 70%; */
    height: calc(100vw / 5)
}

.sinuosa-01 {
    bottom: 4%;
    left: -10%;
}

.sinuosa-02 {
    right: calc(100vw / 10000);
    top: -30%;
    height: calc(100vw / 3);
}